.footer {
  padding-bottom: 2rem;

  &__container {
    display: flex;
    margin: 0 auto;
    width: 94%;
    height: auto;
    border-radius: 2.5rem;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(1rem);

    .copyright {
      font-size: 1rem;
      padding: 2rem 0 2rem 6.25rem;
    }

    ul {
      display: flex;
      margin: auto;

      li {
        padding: 1.5rem 20%;

        a {

          img:hover {
            filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
          }
        }
      }
    }

    .legals {
      font-size: 1rem;
      color: #000;
      margin: 2rem 6.25rem 0 8rem;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.4s ease-in-out, text-decoration-thickness 0.4s ease-in-out;
      height: 20px;
    }

    .legals:hover {
      text-decoration-color: #000;
      text-decoration-thickness: 1px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    width: 100%;

    &__container {
      flex-direction: column;
      width: 90%;

      .copyright {
        margin: auto;
        padding: 2rem 0 0 0;
      }

      .legals {
        margin: auto;
        padding: 0 0 2rem 0;
        height: auto;
      }

      ul {
        justify-content: center;
      }
    }
  }
}