html, html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html body, html * body {
  background: -webkit-gradient(linear, left top, right top, from(#ffeeee), to(#ddefbb));
  background: -o-linear-gradient(left, #ffeeee, #ddefbb);
  background: linear-gradient(to right, #ffeeee, #ddefbb);
  font-family: Nunito, Helvetica, Arial, sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 10rem 3rem 2rem;
}
.cards .card {
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}
.cards .logo {
  grid-area: 1/1/2/2;
  background: #fff;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards .description {
  grid-area: 1/2/2/5;
  background: #fff;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards .description div {
  padding: 0 2rem;
}
.cards .description div h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.cards .description div p {
  font-size: 1.5rem;
  line-height: 2rem;
}
.cards .socials {
  grid-area: 2/1/3/5;
  background: #fff;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards .socials div a {
  margin: 0 6.25rem 0 0;
  text-decoration: none;
}
.cards .socials div a:last-of-type {
  margin: 0;
}
.cards .socials div a:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
.cards .project {
  grid-area: 3/1/4/5;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffaaaa;
}
.cards .project div {
  display: flex;
}
.cards .project div div {
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  padding: 0 10rem 0 2rem;
}
.cards .project div div h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.cards .project div div p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.cards .project div div a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 40px;
  width: 175px;
  padding: 1rem 2rem;
}
.cards .project div img {
  width: 700px;
  height: 400px;
  border-radius: 40px;
  object-fit: cover;
  margin: 0 2rem 0 0;
}
.cards .article1 {
  grid-area: 4/1/5/3;
}
.cards .article2 {
  grid-area: 4/3/5/5;
}
.cards .article1, .cards .article2 {
  height: 400px;
  position: relative;
}
.cards .article1 h2, .cards .article2 h2 {
  font-size: 1.5rem;
  position: absolute;
  color: #fff;
  bottom: 2rem;
  left: 2rem;
  padding-right: 1rem;
}
.cards .article1 img:hover, .cards .article2 img:hover {
  transform: scale(1.05) translate(0, 0);
}
.cards .article1 img, .cards .article2 img {
  border-radius: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.1s ease-in-out 0.1s;
}
.cards .hello {
  grid-area: 5/1/6/5;
  background: #fff;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards .hello div {
  display: flex;
  flex-direction: column;
}
.cards .hello div h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.cards .hello div a {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
  color: #000;
  border: 1px solid #000;
  border-radius: 40px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}
.cards .hello div a:hover {
  transform: scale(1.05) translate(0, 0);
}

@media screen and (max-width: 1100px) {
  .cards {
    padding: 10rem 2rem 2rem;
  }
  .cards .logo {
    grid-area: 1/1/2/5;
  }
  .cards .description {
    grid-area: 2/1/2/5;
  }
  .cards .socials {
    grid-area: 3/1/3/5;
  }
  .cards .project {
    grid-area: 4/1/4/5;
    height: auto;
  }
  .cards .project div {
    flex-direction: column;
  }
  .cards .project div div {
    padding: 0 1.5rem;
  }
  .cards .project div img {
    width: 90%;
    height: 100%;
  }
  .cards .article1 {
    grid-area: 5/1/5/5;
  }
  .cards .article2 {
    grid-area: 6/1/6/5;
  }
  .cards .hello {
    grid-area: 7/1/7/5;
  }
}
.footer {
  padding-bottom: 2rem;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 94%;
  height: auto;
  border-radius: 2.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}
.footer__container .copyright {
  font-size: 1rem;
  padding: 2rem 0 2rem 6.25rem;
}
.footer__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
.footer__container ul li {
  padding: 1.5rem 20%;
}
.footer__container ul li a img:hover {
  -webkit-filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
.footer__container .legals {
  font-size: 1rem;
  color: #000;
  margin: 2rem 6.25rem 0 8rem;
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration-thickness 0.4s ease-in-out, -webkit-text-decoration-color 0.4s ease-in-out;
  transition: text-decoration-thickness 0.4s ease-in-out, -webkit-text-decoration-color 0.4s ease-in-out;
  -o-transition: text-decoration-color 0.4s ease-in-out, text-decoration-thickness 0.4s ease-in-out;
  transition: text-decoration-color 0.4s ease-in-out, text-decoration-thickness 0.4s ease-in-out;
  transition: text-decoration-color 0.4s ease-in-out, text-decoration-thickness 0.4s ease-in-out, -webkit-text-decoration-color 0.4s ease-in-out;
  height: 20px;
}
.footer__container .legals:hover {
  -webkit-text-decoration-color: #000;
  text-decoration-color: #000;
  text-decoration-thickness: 1px;
}

@media screen and (max-width: 1100px) {
  .footer {
    width: 100%;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
  }
  .footer__container .copyright {
    margin: auto;
    padding: 2rem 0 0 0;
  }
  .footer__container .legals {
    margin: auto;
    padding: 0 0 2rem 0;
    height: auto;
  }
  .footer__container ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
header {
  position: fixed;
  top: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 25%;
  margin: 0 auto;
  z-index: 1;
}
header .active {
  color: #ff0000;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  border-radius: 2.5rem;
}
header nav ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  font-weight: 700;
  display: inline-block;
  padding: 1.5rem 2rem;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-radius: 2rem;
}
header nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

@media screen and (max-width: 600px) {
  header {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  header nav ul li a {
    padding: 1.5rem 1rem;
  }
}
.contact section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14rem 0 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 25%;
  margin: 0 auto;
  max-width: 80vw;
}
.contact section h2 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
}
.contact section .required {
  font-size: 1rem;
  padding-bottom: 2rem;
}
.contact section .star {
  color: #ff0000;
}
.contact section fieldset {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.contact section fieldset div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact section fieldset div .submit {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 6rem;
  border: 1px solid #000;
  border-radius: 2rem;
  margin-bottom: 5rem;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.contact section fieldset div .submit:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.contact section fieldset .email {
  max-width: 100%;
  grid-column: 1/-1;
}
.contact section fieldset div:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.contact section fieldset label {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 2rem;
}
.contact section fieldset input {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.contact section fieldset input, .contact section fieldset textarea {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #000;
}
.contact section fieldset input:focus, .contact section fieldset textarea:focus {
  outline: none;
  border: 2px solid #ff0000;
  border-radius: 2rem;
}
.contact section fieldset textarea {
  margin-bottom: 2rem;
  max-width: 31.25rem;
  max-height: 10rem;
  min-width: 100%;
  min-height: 5rem;
  padding: 1rem;
}
.contact section aside h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.contact section aside p {
  font-size: 1rem;
  font-weight: 700;
  padding: 1.5rem 0;
}
.contact section aside a {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration-thickness 0.3s ease-in-out, -webkit-text-decoration-color 0.3s ease-in-out;
  transition: text-decoration-thickness 0.3s ease-in-out, -webkit-text-decoration-color 0.3s ease-in-out;
  -o-transition: text-decoration-color 0.3s ease-in-out, text-decoration-thickness 0.3s ease-in-out;
  transition: text-decoration-color 0.3s ease-in-out, text-decoration-thickness 0.3s ease-in-out;
  transition: text-decoration-color 0.3s ease-in-out, text-decoration-thickness 0.3s ease-in-out, -webkit-text-decoration-color 0.3s ease-in-out;
}
.contact section aside a:hover {
  -webkit-text-decoration-color: #000;
  text-decoration-color: #000;
  text-decoration-thickness: 1px;
}
.contact section aside .socials__infos {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.contact section aside .socials__infos a:hover {
  -webkit-filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

@media screen and (max-width: 1000px) {
  .contact section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 10rem;
  }
  .contact section fieldset {
    display: block;
  }
  .contact section fieldset div {
    padding-bottom: 2rem;
  }
  .contact section fieldset div .submit {
    margin-bottom: 2rem;
  }
  .contact section aside {
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 2rem;
  }
  .contact aside {
    margin-bottom: 4rem;
  }
}
.projects section {
  padding: 12rem 3rem 2rem;
}
.projects section h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 6rem;
  text-align: center;
}
.projects section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffaaaa;
  border-radius: 2.5rem;
  height: 37.5rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}
.projects section article div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 37.5rem;
  padding: 0 2rem;
}
.projects section article div h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.projects section article div span {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.projects section article div p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 2rem 0 4rem 0;
}
.projects section article div a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  padding: 1rem 3rem;
  border: 1px solid #000;
  border-radius: 2.5rem;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.projects section article div a:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.projects section article img {
  border-radius: 2.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}
.projects section article:nth-child(3) {
  background-color: #ddefa0;
}
.projects section article:nth-child(4) {
  background-color: #dddfff;
}
.projects section article:nth-child(5) {
  background-color: #aaafff;
}

@media screen and (max-width: 1200px) {
  .projects section {
    padding: 12rem 2rem 2rem;
  }
  .projects section article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  }
  .projects section article div {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 0 1rem;
    min-height: 325px;
  }
  .projects section article div h3 {
    padding-top: 1rem;
  }
  .projects section article div p {
    margin-bottom: 3rem;
  }
  .projects section article img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media screen and (max-width: 750px) {
  .projects section article img {
    max-height: 15.625rem;
    border-radius: 2.5rem 2.5rem 0 0;
  }
}
.about {
  min-height: 100vh;
}
.about h2 {
  font-size: 2rem;
}

.single {
  height: 100vh;
}
.single section {
  padding: 12rem 3rem 2rem;
}
.single section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.legal {
  height: 100vh;
}
.legal section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 12rem 3rem 2rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
