html, html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  body {
    background: -webkit-gradient(linear, left top, right top, from(#ffeeee), to(#ddefbb));
    background: -o-linear-gradient(left, #ffeeee, #ddefbb);
    background: linear-gradient(to right, #ffeeee, #ddefbb);
    font-family: Nunito, Helvetica, Arial, sans-serif;
  }
}

@import "reset";
@import "helpers";
@import "components/home";
@import "components/footer";
@import "components/header";
@import "components/contact";
@import "components/projects";
@import "components/about";
@import "components/project";
@import "components/legals";